@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-image: url(../images/fond.png);
	margin:0;
}

strong
{
	text-transform: uppercase;
	color: #8F5834;
	font-style: normal;
	font-size: 1em;
}

em
{
	color: #66A3A2;
	text-transform: uppercase;
	font-style: normal;
}

header
{
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h1
{
	font-family: Dayom, serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

.entete > h2
{
	font-size: 1em;
	font-style: normal;
	padding: 0.8em;
	margin-bottom: 0;
	color: teal;
}

article h2
{
	text-transform: uppercase;
	color: #8F5834;
	font-size: 1.3em;
}

nav
{
	display: flex;
	justify-content: flex-end;
}

nav a
{
	font-family: Dayrom, serif;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 4px;
	color: #8F5834;
	text-decoration: none;
	border-right: double 3px #47BFC5;
	padding-right: 0.5em;
}

nav a:nth-child(5)
{
	border-right: none;
}

a
{
	color: rgba(81,144,145);
	text-transform: uppercase;
	text-decoration: none;
}

a:hover
{
	color: teal;
}

article
{
	padding: 1em;
	text-align: justify;
	display : flex;
	flex-direction: column;
	width: 65%;
	line-height: 1.2em;
}

.article_long
{
	padding: 1em;
	text-align: justify;
	display : flex;
	flex-direction: column;
	width: 80%;
	line-height: 1.2em;
}

footer
{
	margin: 0;
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-image: url(../images/fond_marron.png);
	position: relative;
}

.entete
{
	display: flex;
	flex-direction: column;
	color: #8F5834;
}

.titre_logo
{
	display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_pirate
{
	margin: 15px;
	margin-bottom: 1px;
	margin-top: 1px;
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

section
{
	margin:0;
	background-image: url(../images/fond.png);
	display:flex;
	flex-direction: column;
	border-top: 3px solid #8F5834;
	border-bottom : 3px inset white;
}

.bordure_section
{
	background: url(../images/vague_sep.png) repeat-x;
	background-size: 420px 42px;
	height: 42px;
	width: 100%;
}


.article_side
{
	display: flex;
	flex-direction: row;
	margin-left: 4em;

}

.titre_article
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.titre_article > h1
{
	color : #8F5834;
}


.logo_article
{
	height:42px;
	width:42px;
	margin: 0.5em;
	margin-right: 0.8em;
	align-self: flex-start;
}

.discord, .lin, .mail, .fb, .tw, .skype
{
	height:42px;
	width: 42px;
	margin: 1em;
}

.photos_vacs, .last_project, .contact
{
	padding: 1em;
	padding-top: 0.2em;
	color: white;
}

.photo
{
	height: 100px;
	width: 120px;
	margin: 0.3em;
	border-radius: 5px;
	box-shadow: 3px 3px 6px rgba(24,24,24);
}

.contact
{
	text-align: right;
}

.intro
{
	padding: 1em;
	border : 3px double #47BFC5;
}
